
@media (min-width: 768px){
	.u_form{
		.up-cq-group{
			padding-left: 3.3em;
			>.up-control-label{
				width: 3.3em;
			}
		}
	}

	.u_cq_form{
		.up-form-group{
			padding-left: 8em;
			>.up-control-label{
				width: 8em;
			}
		}
	}
	 
}

.up-cq-pad-left{
	padding-left:15px;
}


